@charset "utf-8";

* { font-family: Arial; font-size: 1em; box-sizing: border-box; }

html { margin: 0; padding: 0; background-color: #fff; font-size: 10px; height: 100%; }
body { margin: 0; padding: 0; width: 100%; min-height: 100%; -moz-tab-size: 2; tab-size:2; }


.wrap .form { position: fixed; left: 0; top: 0; height: 100%; width: 200px; background-color: #fff; padding-top: 30px; padding-bottom: 40px; }
.wrap textarea { display: block; width: 100%; margin: 0; background-color: #fff; font-size: 1em; height: 50%; border: none; resize: none; white-space: pre; }
.wrap textarea + textarea { border-top: 1px solid #999; }
.wrap button { }

.wrap .result { position: fixed; left: 200px; top: 0; right: 0; bottom: 0; overflow: scroll; border-left: 1px solid #999;
	background-color: #222; color: #f4f4f4;
}

.wrap h1 { position: fixed; left: 0; top: 0; width: 200px; margin: 0; font-size: 16px; text-align: center;
	padding: 0 1em; line-height: 30px; height: 30px; border-bottom: 1px solid #999; }

.wrap button { display: block; position: fixed; left: 0; bottom: 0; width: 200px; font-size: 16px; font-weight: bold; text-transform: uppercase;
	padding: 0 .5em; height: 40px; line-height: 40px; background-color: #222; color: #fff; border: none; cursor: pointer; }
.wrap button:hover { background-color: #000; }


h1,
.type,
.codekolom { -webkit-user-select: none; -moz-user-select: none; user-select: none; }


textarea { font-family: Courier; font-size: 88%; height: 270px; width: 500px; padding: 1em; width: 92%; }


table { border-collapse: collapse; font-family: Courier, monospace; width: 100%; }
thead tr { font-weight: normal; height: 2em; text-aling: left; }
td { padding: .2em; white-space: pre; font-family: Courier; font-size: 13px; line-height: 1; }
td.bredecode { padding-left: 4px; width: 100%; }
td.codekolom { background-color: transparent; border-right: 1px solid #333; color: #444; min-width: 2em; font-size: .85em !important; text-align: right; }
tr.add { background: #DFD; color: #222; }
tr.del { background: #FDD; color: #222; }
tr.changed { background-color: yellow; }


ins { background-color: #DFD; }
del { background-color: #FDD; }

